<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <title>Home</title>
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <h2 class="m-3">Home</h2>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <% products.forEach(product=> { %>
                        <% if (product.isHome) { %>
                            <%- include("partials/product.ejs",product) %>
                                <% } %>
                                    <% }) %>
                </div>
            </div>
        </div>
</body>

</html>