<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <title>Product Details</title>
</head>

<body class="bg-warning">
    <h1>Product Details</h1>
    <img src="/images/<%=image%> " alt="<%= name%> " width="100" height="100">
    <p>
        Product Name: <%= name %>
    </p>
    <p>
        Price: <%= price %>
    </p>
    <p>
        <% if (isActive) { %>
            <span>
                Sale: This product is sale
            </span>
            <% } else { %>
                <span>
                    Sale: This product is not for sale
                </span>
                <% } %>
    </p>
</body>

</html>