<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/fontawesome/css/brands.css">
    <link rel="stylesheet" href="/fontawesome/css/solid.css">
    <title>Home</title>
</head>

<body>
    <i class="fa-solid fa-xmark"></i>
    <i class="fa-solid fa-xmark"></i>
    <i class="fa-solid fa-xmark"></i>
    <i class="fa-solid fa-xmark"></i>
    <i class="fa-solid fa-user-xmark"></i>
    <div class="container" style="margin-top:16px;">
        <div class="card row">
            <div class="card-header">Todo List</div>
            <div class="card-body">
                <form action="" id="todo-form" name="form" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input class="form-control" type="text" name="todoName" id="todoName"
                                placeholder="Enter a todo">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-danger mt-3" value="Add Todo" />
                </form>
            </div>
            <div class="card-body">
                <hr>
                <h5 class="card-title" id="tasks-title">Todos</h5>
                <hr>
                <ul class="list-group">
                    <% tasks.forEach(task=> { %>
                        <li class="list-group-item d-flex justify-content-between">
                            <%= task.todoName %> - <%= task.createdTime %>
                                    <a href="/deleteTask/<%= task.id %>" class="delete-item">
                                        <i class="fa-solid fa-xmark">delete</i>
                                    </a>
                        </li>
                        <% }) %>
                </ul>
                <hr>
                <a id="clear-todos" class="btn btn-dark" href="/deleteAllTasks">Delete all tasks</a>
            </div>
        </div>
    </div>
</body>

</html>